.inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
}

.img {
    width: 150px;
}

.contener {
    max-width: 390px;
}

.item {
    text-align: center;
}